.Rproj.user
.Rhistory
.RData

.DS_Store

data/mothur/*
data/raw/16S/*
data/process/*
!README.md

!data/raw/*

code/mothur/*

*.qsub*
mothur*logfile
*temp*
*.docx
*.fastq
exploratory/*
*.jpg
*.DS_Store
